.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #293462;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #FFF80A;
  font-size: 8rem;
  color: #FEB139;
}

p {
  font-size: 2rem;
  color: #FEB139;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #FF4A4A;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
